body {
font-family: roboto;

}

ul {
  list-style-type: none;
 }

 .search {
text-align: center;
margin: 180px;

 }

.button {
margin-top: 20px;
margin-left: 10px;
padding: 10px;
text-align: center;
background-color: #f3f3f3;
border-radius: 10px;
font-family: roboto;
font-size: 1em;
border-color: white;
color: #6c6f70;
}

#input{
  width: 50%;
  font-family: roboto;
  font-size: 1em;
  padding: 20px;
  border-radius: 50px;
  background-color: #fff;
  border-color: #d9dadb;
  border-width: thin;
  color: #6c6f70;
  margin-top: 30px;
  border-style: solid;
  align-items: center;
  padding-left:100px;
}



.inputWithIcons i {
            position: absolute;
        }
.inputWithIcons {
            width: 100%;
            margin-bottom: 10px;
        }

.icon {
            padding: 54px;
            color: #6c6f70;
            min-width: 20px;
            text-align: center;

        }


.fa-microphone {
position: relative;
min-width: 1%;
padding-left: 10px;
      }



.menu {
  overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

}

li{

   display: inline;
   float: left;
   padding-right: 30px;
}

.apps{
  float: right;
  margin-top: 9.2px;
  padding-right: 30px;
}


.displaypic{
  border-radius: 50%;
  width: 45px;
  margin-top: -10px;

}
